<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093899469615-6kbl5johhvrnaa8tlg48khljdelbs4mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093899469615-6kbl5johhvrnaa8tlg48khljdelbs4mj</string>
	<key>API_KEY</key>
	<string>AIzaSyD-g169NHFWojr_m9BoBQtmK3EvFiZUcUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1093899469615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prueba.finalMoviles</string>
	<key>PROJECT_ID</key>
	<string>proyectotransporte-fcee0</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectotransporte-fcee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093899469615:ios:92889b40364899469117da</string>
	<key>DATABASE_URL</key>
	<string>https://proyectotransporte-fcee0-default-rtdb.firebaseio.com</string>
</dict>
</plist>